{% extends 'chat/base.html' %}

{% block content %}

    <textarea id = "chat-log" cols = "100" rows = "20"></textarea><br>
    <input id = "chat-message-input" type = "text" size = "100"><br>
    <input id = "chat-message-submit" type = "button" value = "Send">

    {{ room_name|json_script:"room-name" }}

    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        // Receive data from the server through the following web socket request
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        // 
        chatSocket.onclose = function(e) {
            console.log('Chat socket closed unexpectedly');
        };

        // Submit user input by hitting Enter
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };


        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            // Send the user input to the server through the following WS request
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

    </script>
    
{% endblock %}